
.cadastro-container{
 display: flex;
}
.cadastro-container section{
  padding: 0 40px 40px 40px;
  position: relative;
  flex: 1;
}
.cadastro-container form{
  position: absolute;
  display: flex;
  width: 85%;
  padding-left: 20px;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
}
.cadastro-container input{
  display: flex;
  flex-direction: row;
}
.background{
  background: linear-gradient(to top, rgb(108, 99, 255), rgb(108, 60, 167));
  position: relative;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.botao-row{
  display: flex;
  padding-top: 1.6rem;
  justify-content: space-between;

}
.aside{
  flex: 0.8;
  padding: 20px;
  position: sticky;
  top: 0px;
  height: 100vh;
}

