body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container{
  width: 360px;
  height: 400px;
  background: #f3efef;
  border-radius: 20px;
  border: 2px solid #6a5acd;
}
.card-container:hover{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.card-container Button{
  margin-top: 15px;
}
.card-top{
  height: 90px;
  border-radius: 20px 20px 0 0;
  background-color: #6a5acd;
  display: flex;
  justify-content: center;
}

.card-bottom {
  text-align: center;
  margin-top: 30px;
}
.card-bottom h3{
  font-size: 16px;
  font-weight: bold;
}
.card-bottom p {
  font-size: 12px;
  padding: 20px;
}
.card-info-container{
  display: flex;
  justify-content: space-between;
  padding: 0px 20px 30px 20px;
}

.card-info-autor h4{
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.card-info-autor h4:hover{
  cursor: pointer;
  color: #6a5acd;
}

.card-info-autor span{
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  color:rgba(0, 0, 0, 0.5) ;
}