.titulo1 {
    margin: 5%;
    text-align: center;
    font-size: 210%;
}

.blocoInfos {
    display: flex;
    margin-bottom: 1%;
}

.imagemEsquerda {
    padding-left: 5%;
}

.imagemDireita {
    padding-left: 8%;
}



.descricaoEsquerda{
    margin-left: 10%;
}

h5 {
    font-weight: 450;
    font-size: 100%;
}