.gridMain{
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}
.section{
    padding: 5rem;
}
.formulario{
    width: 100%;
    max-width: 46rem;
}
.input-duplo{
    display: grid;
    gap: 1.6rem;
    grid-auto-flow: column;
    padding-top: 1rem;
}
.input-single{
    display: block;
    position: relative;
    padding-top: 1rem;
    width: 100%;
}
.background{
    background: linear-gradient(to top, rgb(108, 99, 255), rgb(108, 60, 167));
    position: relative;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.botao-row{
    display: flex;
    padding-top: 1.6rem;
    justify-content: space-between;

}
.aside{
    position: sticky;
    top: 0px;
    height: 100vh;
    padding: 1rem;
}

